<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TTS_2019.Properties.Settings.TTSConnectionString" connectionString="Data Source=DESKTOP-SOV9IS6;Initial Catalog=TTS;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BLL.SystemInformation.UC_StaffAccountManage"/>
        <binding name="BLL.SystemInformation.UC_StaffInformation" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BLL.Login"/>
        <binding name="BLL.PublicFunction"/>
        <binding name="BLL.SystemInformation.UC_PowerManage"/>
        <binding name="BLL.SystemInformation.UC_UpdatePassword"/>
        <binding name="BLL.LineManage.UC_CreateLine" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BLL.TrainOrder.UC_Compartment"/>
        <binding name="BLL.TrainOrder.UC_CarOrder"/>
        <binding name="BLL.SystemInformation.UC_TravellerInformation"/>
        <binding name="BLL.TicketTask.UC_MakePriceRule"/>
        <binding name="BLL.SystemInformation.UC_MenuManagement"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51039/BLL.SystemInformation.UC_StaffAccountManage.svc" binding="basicHttpBinding" bindingConfiguration="BLL.SystemInformation.UC_StaffAccountManage" contract="BLL.UC_StaffAccountManage.UC_StaffAccountManage" name="BLL.SystemInformation.UC_StaffAccountManage"/>
      <endpoint address="http://localhost:51039/BLL.SystemInformation.UC_StaffInformation.svc" binding="basicHttpBinding" bindingConfiguration="BLL.SystemInformation.UC_StaffInformation" contract="BLL.UC_StaffInformation.UC_StaffInformation" name="BLL.SystemInformation.UC_StaffInformation"/>
      <endpoint address="http://localhost:51039/BLL.Login.svc" binding="basicHttpBinding" bindingConfiguration="BLL.Login" contract="BLL.Login.Login" name="BLL.Login"/>
      <endpoint address="http://localhost:51039/BLL.PublicFunction.svc" binding="basicHttpBinding" bindingConfiguration="BLL.PublicFunction" contract="BLL.PublicFunction.PublicFunction" name="BLL.PublicFunction"/>
      <endpoint address="http://localhost:51039/BLL.SystemInformation.UC_PowerManage.svc" binding="basicHttpBinding" bindingConfiguration="BLL.SystemInformation.UC_PowerManage" contract="BLL.UC_PowerManage.UC_PowerManage" name="BLL.SystemInformation.UC_PowerManage"/>
      <endpoint address="http://localhost:51039/BLL.SystemInformation.UC_UpdatePassword.svc" binding="basicHttpBinding" bindingConfiguration="BLL.SystemInformation.UC_UpdatePassword" contract="BLL.UC_UpdatePassword.UC_UpdatePassword" name="BLL.SystemInformation.UC_UpdatePassword"/>
      <endpoint address="http://localhost:51039/BLL.LineManage.UC_CreateLine.svc" binding="basicHttpBinding" bindingConfiguration="BLL.LineManage.UC_CreateLine" contract="BLL.UC_CreateLine.UC_CreateLine" name="BLL.LineManage.UC_CreateLine"/>
      <endpoint address="http://localhost:51039/BLL.TrainOrder.UC_Compartment.svc" binding="basicHttpBinding" bindingConfiguration="BLL.TrainOrder.UC_Compartment" contract="BLL.UC_Compartment.UC_Compartment" name="BLL.TrainOrder.UC_Compartment"/>
      <endpoint address="http://localhost:51039/BLL.TrainOrder.UC_CarOrder.svc" binding="basicHttpBinding" bindingConfiguration="BLL.TrainOrder.UC_CarOrder" contract="BLL.UC_CarOrder.UC_CarOrder" name="BLL.TrainOrder.UC_CarOrder"/>
      <endpoint address="http://localhost:51039/BLL.SystemInformation.UC_TravellerInformation.svc" binding="basicHttpBinding" bindingConfiguration="BLL.SystemInformation.UC_TravellerInformation" contract="BLL.UC_TravellerInformation.UC_TravellerInformation" name="BLL.SystemInformation.UC_TravellerInformation"/>
      <endpoint address="http://localhost:51039/BLL.TicketTask.UC_MakePriceRule.svc" binding="basicHttpBinding" bindingConfiguration="BLL.TicketTask.UC_MakePriceRule" contract="BLL.UC_MakePriceRule.UC_MakePriceRule" name="BLL.TicketTask.UC_MakePriceRule"/>
      <endpoint address="http://localhost:51039/BLL.SystemInformation.UC_MenuManagement.svc" binding="basicHttpBinding" bindingConfiguration="BLL.SystemInformation.UC_MenuManagement" contract="BLL.UC_MenuManagement.UC_MenuManagement" name="BLL.SystemInformation.UC_MenuManagement"/>
    </client>
  </system.serviceModel>
  <!--记住密码-->
  <appSettings>
    <add key="UserName" value="gl001"/>
    <add key="UserPassword" value="123456"/>
    <add key="isRemember" value="true"/>
    <add key="isLogin" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
